<!-- index.html.erb -->
<% @page_title = "Replies" %>
<%= render partial: "users/user_navbar", locals: {user: @user, poll: @poll, reply: @reply, page_title: "Poll Results"} %>

<div class="row">
	<div class="col-md-offset-4 coll-md-8">
	<!-- display flash messages -->
	<% flash.each do |k,v| %>
		<h2 id="<%= k %>"><%= v %></h2>
	<% end %>


	What is going on here?

	<h2>Replies to Poll <%= @poll.id  %>, <%= @poll.topic.titleize  %></h2>
		<% for reply in @replies do  %>
			<%#= render partial: "reply_preview", locals: {user: @user, poll: @poll, reply: reply}  %>
		<% end %>
	</div>
</div>