<!-- index.html.erb -->
<h1>Index for Replies, Replies#Index</h1>

<% flash.each do |k,v| %>
	<h2 id="<%= k %>"><%= v %></h2>
<% end %>

<h2>Original format</h2>
	<% @replies.each do |reply| %>
		<p> Reply ID: <%= reply.id  %>, Feedback: <%= reply.response  %></p>
		<p><a href="replies/<%= reply.id  %>">Go to reply</a></p>

	<% end %>

