<!-- _new_user_form.html.erb -->
<!-- signup partial -->
<div class="row">
	<%= form_for @user, html: {class: "form-horizontal"} do |f|  %>
	<fieldset>
		<legend>Sign up</legend>
		<div class="form-group">
			<%= f.text_field :first_name, class: "form-control", placeholder: "First name", autofocus: true  %>				
		</div>	<!-- closes form-group -->
		<div class="form-group">
			<%= f.text_field :last_name, class: "form-control", placeholder: "Last name"  %>				
		</div>	<!-- closes form-group -->
		<div class="form-group">
			<!-- <label for="email" class="col-lg-2 control-label">Email</label>
			<div class="col-lg-10"> -->
			<%= f.text_field :email, class: "form-control", placeholder: "Email"  %>				
		</div>	<!-- closes form-group -->
		<div class="form-group">
			<%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
		</div>	<!-- closes form-group -->
		<div class="form-group">
			<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"  %>
		</div>	<!-- closes form-group -->
		<div class="form-group">
			<%= f.submit "Sign up", class: "form-control" %>
		</div>	<!-- closes form-group -->
	
	</fieldset>
	<% end %><!--  ends form for -->
</div>