<!-- _user_navbar.html.erb -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
		<!-- collapse has to do with working with mobile -->
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to "Fo5", root_path, class: "navbar-brand" %>
               <% if page_title %>
                  <a class="navbar-brand"><%= page_title %></a>
                <% end %>
            
              <% flash.each do |k,v| %>
                <a class="navbar-brand flash" id="<%= k %>"><em><%= v %></em></a>
              <% end %>
            

  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">

      <ul class="nav navbar-nav navbar-right">
      <!-- control what navigation is seen, View courses etc, start without needing user-->
      <!-- Leaving out replies -->
        <!-- <#% if @reply && @reply.id %> -->
          <!-- <li>REPLY NAVBAR</li> -->
<!--           <li><%#= link_to "View All Results", user_poll_replies_path(@user.id, @poll.id)  %></li> -->

        <% if @poll && @poll.course_id %>
          <!-- <li>POLL NAVBAR</li> -->
          <li><%= link_to "View All Polls", course_polls_path(@poll.course_id)  %></li>

        <% elsif @course && @course.id %>
          <li><%= link_to "View All Courses", courses_path %></li>

        <% elsif @user && @user.id %>
         <!--  <li>USER NAVBAR</li> -->
            <li><%= link_to "View All Users", users_path %></li>
        <% end %>
          
        <!-- Behavoir of user shortcut, login, logout, signup -->
        <% if @current_user %>
          <% @user = @current_user %>
          <li class="active"><%= link_to @user.first_name ||  @user.email , user_path(@user.id)  %></li>
          <li><%= link_to "Logout", logout_path, method: :delete  %></li>
        <% else %>
          <li><%= link_to "Log in", login_path  %></li>
          <li><%= link_to "Sign up", signup_path  %></li>
        <% end %>
        <li><a href="#"></a></li>
      </ul>
  </div>
</div>