<h1>Sign up as new user</h1>

<% flash.each do |k,v| %>
	<h2 id="<%= k %>"><%= v %></h2>
<% end %>

<h2>Want users who are not logged in to see this</h2>
<h2>Users who ARE logged in should not see this</h2>

<!-- copied from RailsCast -->
<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
    		<div class="error_messages">
      		<h2>Form is invalid</h2>
      		<ul>
        		<% for message in @user.errors.full_messages %>
          			<li><%= message %></li>
        		<% end %>
      		</ul>
    		</div>
  	<% end %>

	<div class="field">
		<%= f.label :email  %>:
		<%= f.text_field :email, autofocus: true  %>
	</div>
	<div>
		<p>Eventually add selection of type, student, teacher, admin</p>
	</div>
	<div class="field">
		<%= f.label :password  %>:
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation  %>:
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions"><%= f.submit  %>
	</div>
<% end %>