<!-- home.html.erb -->
<% @page_title = "User Home" %>
<%= render partial: "user_navbar", locals: {user: @user, page_title: "User Home"} %>

<%= render partial: "shared/start_main_section"  %>
	<div class="title-area">
		<h1>Fist of Five</h1>
	</div>
	<div id="current-courses">
		<h3>Current Courses</h3>
		<h4>
		<% for course in @user.courses.order(:id) do  %>
			<%= render partial: "courses/course_preview", locals: {course: course, user: @user }  %>
		<% end %>
		</h4>
	</div>
	<div id="polls-for-current-courses">
		<%= link_to "view/add courses", courses_path, class: "btn btn-warning btn-xs"  %>
		<% if @user.courses.count > 1 %>
			<h3>Polls for Current Courses</h3>
			<div class="indent">
				<h4>
				<% for course in @user.courses do %>
					<p><%= course.title %></p>
					<div class="indent">
						<% for poll in course.polls.order(:id) do  %>
							<p><%= render partial: "polls/poll_preview", locals: {poll: poll, user: @user }  %></p>
						<% end %>
					</div>
				<% end %>
				</h4>
			</div>
		<% end %>
	</div>
<%= render partial: "shared/end_main_section"  %>
<%= render partial: "shared/start_sidebar"  %>
	<div>
		<%= link_to "Account Details", edit_user_path(@user.id), class: "btn btn-md btn-info"  %><br><br>
		<%= link_to "View All Courses", courses_path, class: "btn btn-md btn-warning" %><br><br>
		<% if @user.courses.count > 0%>
		<%= link_to "View All Polls", course_polls_path(@user.courses.first.id), class: "btn btn-md btn-danger" %><br><br>
		<% end %>
		<%= render partial: "shared/start_new_poll", locals: {link_class: "btn btn-md btn-primary"}  %><br>
	</div>
	<div>
		<% if @user.polls.count > 1 %>
			<div>
				<h4>Polls You Authored</h4>
				<h5>
				<% for poll in @user.polls.order(:id) do  %>
					<p><%= render partial: "polls/poll_preview", locals: {poll: poll, user: @user }  %></p>
				<% end %>
				</h5>
			</div>
		<% end %>
	</div>
<%= render partial: "shared/end_sidebar"  %>