<!-- home.html.erb -->
<% @page_title = "User Home" %>
<%= render partial: "user_navbar", locals: {user: @user, page_title: "User Home"} %>

<%= render partial: "shared/start_main_section"  %>
	<div class="title-area">
		<h1>Fist of Five</h1>
	</div>
	<div id="current-courses">
		<h3>Current Courses</h3>
		<h4>
		<% for course in @user.courses.order(:id) do  %>
			<%= render partial: "courses/course_preview", locals: {course: course, user: @user }  %>
		<% end %>
		</h4>
	</div>

<%= render partial: "shared/end_main_section"  %>
<%= render partial: "shared/start_sidebar"  %>
	<div>
		<%= link_to "Account Details", edit_user_path(@user.id), class: "btn btn-sidebar btn-info"  %><br><br>
		<%= link_to "View All Courses", courses_path, class: "btn btn-sidebar btn-danger" %><br><br>
		<% if @user.courses.count > 0%>
		<%= link_to "View All Polls", course_polls_path(@user.courses.first.id), class: "btn btn-sidebar btn-warning" %><br><br>
		<% end %>
		<%= render partial: "shared/start_new_poll", locals: {link_class: "btn btn-sidebar btn-primary"}  %><br>
	</div>
	<div class="small-spacer"></div>

<%= render partial: "shared/end_sidebar"  %>