<!-- home.html.erb -->
<% @page_title = "User Home" %>
<%= render partial: "user_navbar", locals: {user: @user, page_title: "User Home"} %>

<div class="row">
	<div class="col-md-offset-1 col-md-6 col-sm-offset-1 col-xs-offset-1">
		<% flash.each do |k,v| %>
			<h4 id="<%= k %>"><%= v %></h4>
		<% end %>
		<h1>Welcome to Fist of Five</h1>
	</div>
	<div>
		<%= link_to "Account Details", edit_user_path(@user.id), class: "h4"  %><br>
		<%= link_to "Start a new poll", new_user_poll_path(@user.id), class: "h4"  %><br>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-6 col-sm-offset-1 col-xs-offset-1" id="user_courses">
		<!-- courses preview partial, only courses this user is in -->
		<%#= link_to "Your Courses", user_courses_path(@user.id), class: "h1" %>
		<h3>
		Your Current Courses
		<% for course in @user.courses do  %>
			<%= render partial: "courses/course_preview", locals: {course: course, user: @user }  %>
		<% end %>
		</h3>
		<%= link_to "View All Courses", courses_path, class: "h4" %>
	</div>
	<div class="col-md-2 col-sm-offset-1 col-xs-offset-1" id="all_courses">
		<!-- polls you wrote? polls for courses you're in preview partial, -->
	</div>
	

</div>