<!-- _poll_form for new and edit -->

<div class="row">
	<%= form_for [@user, @poll], html: {class: "form-horizontal"} do |f|  %>
	<fieldset>
		<legend><%= form_title  %></legend>
		<div class="form-group">
			<%= f.text_field :topic, class: "form-control", placeholder: "Poll topic", autofocus: true  %>
		</div><!-- closes form-group -->
		<div class="form-group">
			<%= f.radio_button :is_open, true, :checked => true %>Poll Open
			<%= f.radio_button :is_open, false %>Poll Closed
		</div>

		<div class="form-group">
			<%= f.submit button_label, class: "form-control"  %>
		</div>		
	</fieldset>
	<% end %>
</div>