<!-- _poll_form for new and edit -->

<div class="row">
	<%= form_for [user, poll], html: {class: "form-horizontal"} do |f|  %>
	<fieldset>
		<legend><%= form_title  %></legend>
		<div class="form-group">
			<%#= f.collection_select :course, @poll.id, Course.all, :id, {:prompt => 'Please select which course this poll is for'}  %>
			<select name="poll[course_id]" id="course-select">
				<option value="">Select one of your courses</option>
<!-- 				<option value="1">Course1</option>
				<option value="2">Course2</option>
				<option value="3"><%#= Course.find(3).title  %></option> -->
				<% for course in @user.courses %>
					<option value="<%= course.id  %>"><%= course.title  %></option>
				<% end %>
			</select>
		</div>
		<div class="form-group">
			<%= f.text_field :topic, class: "form-control", placeholder: "Poll topic", autofocus: true  %>
		</div>
		<div>
			<input type="hidden" name="poll[user_id]" value="<%= @user.id  %>">
		</div>
		<div class="form-group">
			<%= f.submit button_label, class: "form-control"  %>
		</div>		
	</fieldset>
	<% end %>
</div>