<h4>5</h4>
<div class="progress progress-striped active">
  <div class="progress-bar" style="width: <%= @results[5]*10  %>% "></div>
</div>

<h4>4</h4> 
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-info" style="width: <%= @results[4]*10  %>% "></div>
</div>

<h4>3</h4>
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-success" style="width: <%= @results[3]*10  %>% "></div>
</div>

<h4>2</h4>
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-warning" style="width: <%= @results[2]*10  %>% "></div>
</div>

<h4>1</h4>
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-danger" style="width: <%= @results[1]*10  %>% "></div>
</div>

<h4>0</h4>
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-default" style="width: <%= @results[0]*10  %>% "></div>
</div>