<!-- index.html.erb -->
<% @page_title = "All Polls" %>
<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "Polls"} %>

<div class="row">
	<!-- display flash messages -->
	<% flash.each do |k,v| %>
		<h2 id="<%= k %>"><%= v %></h2>
	<% end %>

	<div  class="col-xs-offset-1 col-xs-11 col-sm-offset-2 col-sm-10">
		<h2><%= link_to "Start a new poll", new_user_poll_path(@user.id)  %></h2>
		<% for poll in @polls do  %>
			<ul>
				<li><%= render partial: "poll_preview", locals: {user: @user, poll: poll}  %></li>
				<li class="indent">
					
					<%= link_to "Edit Poll", edit_user_poll_path(@user.id, poll.id), name: "edit", class: "btn btn-info btn-xs" %></li>
					<%= link_to "Delete Poll", user_poll_path(@user.id, poll.id), method: :delete, :data => {:confirm => "Are you sure?"}, name: "delete", class: "btn btn-danger btn-xs" %>
					
				</li>
			</ul>
		<% end %>
	</div>
</div>

