<!-- index.html.erb -->
<% @page_title = "All Polls" %>
<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "Polls"} %>

<%= render partial: "shared/start_main_section"  %>
		
	<% for poll in @polls.order(:id) do  %>
		<% if @current_user %>
			<div>
				<h4><%= render partial: "poll_preview", locals: {user: (User.find_by_id(poll.user_id)), poll: poll, path: "user"} %> </h4>
			</div>
		<% else %>
			<h4><%= render partial: "poll_preview", locals: {poll: poll, path: "course"}  %></h4>
		<% end %>
	<% end %>
<%= render partial: "shared/end_main_section"  %>
<%= render partial: "shared/start_sidebar"  %>

	<% if @current_user %>
		<%= render partial: "shared/start_new_poll", locals: {link_class: "btn btn-sidebar btn-primary"}  %><br>
	<% else %>
		<%= render partial: "shared/participate", locals: {link_class: "btn btn-primary btn-form"} %>
	<% end %>
<%= render partial: "shared/end_sidebar"  %>
