<!-- index.html.erb -->
<% @page_title = "All Polls" %>
<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "Polls"} %>
<%= render partial: "shared/start_main_section"  %>
		
	<% for poll in @polls.order(:id) do  %>
		<ul>
			<h4>
			<li><%= render partial: "poll_preview", locals: {user: User.find_by_id(poll.user_id), poll: poll}  %></li>
			<% if @current_user %>
				<li><%= link_to "Edit Poll", edit_user_poll_path(@user.id, poll.id), name: "edit", class: "btn btn-info btn-xs" %></li>
				<li><%= link_to "Delete Poll", user_poll_path(@user.id, poll.id), method: :delete, :data => {:confirm => "Are you sure?"}, name: "delete", class: "btn btn-danger btn-xs" %>
			</li>
			<% end %>
			</h4>
		</ul>
	<% end %>
<%= render partial: "shared/end_main_section"  %>
<%= render partial: "shared/start_sidebar"  %>

	<% if @current_user %>
		<h2><%= link_to "Start a new poll", new_user_poll_path(@user.id)  %></h2>
	<% else %>
		<%= render partial: "shared/participate"  %>
	<% end %>
<%= render partial: "shared/end_sidebar"  %>
