<!-- polls new.html.erb -->
<h1>Make a new poll!</h1>

<% flash.each do |k,v| %>
	<h2 id="<%= k %>"><%= v %></h2>
<% end %>

<%= form_for [@user, @poll] do |f|  %>
	<div class="field">
		<%= f.label :topic  %>:
		<%= f.text_field :topic, autofocus: true  %>
	</div>
	<div>
		<p>More?</p>
	</div>
	<div class="actions"><%= f.submit  %>
	</div>
	
<% end  %>