<!-- show.html.erb -->
<h2>Show details of a poll</h2>

<% flash.each do |k,v| %>
	<h2 id="<%= k %>"><%= v %></h2>
<% end %>

<h3>Allows user to review poll before sending it out</h3>

<h4>Poll author email: <%= @user.email  %></h4>
<h4>Poll topic: <%= @poll.topic  %></h4>

<%= button_to "Send poll via SMS", controller: "sendtexts", action: "send_text_message", user: @user, id: @poll.id  %>

<h3>View Replies</h3>
<%= link_to "View all replies to this poll", user_poll_replies_path(@user.id, @poll.id)  %><br/>
<!-- what would be on results#index, start there? -->


