<!--Courses index.html.erb -->
<!-- Shows all courses OR all user courses -->
<% @page_title = "All Courses" %>
<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "All Courses"} %>

<%= render partial: "shared/start_main_section"  %>
	<% for course in @courses %>
		<h4><%= render partial: "course_preview", locals: {course: course, user: @user }  %></h4>
	<% end %>
<%= render partial: "shared/end_main_section"  %>
<%= render partial: "shared/start_sidebar"  %>
		<% if @user %>

			<%= link_to "Create a new course", new_course_path, class: "h4"  %>
		<% else %>
			<%= render partial: "shared/participate"  %>
		<% end %>
<%= render partial: "shared/start_sidebar"  %>