<!-- show.html.erb -->
<% @page_title = "Course Details" %>

<%= render partial: "users/user_navbar", locals: {user: @user, page_title: "Course Details"} %>
<%= render partial: "shared/start_main_section"  %>
		<h2><%= @course.title  %></h2><br>
		<h4>Details: <%=  @course.desc %> </h4>
		<h4>Schedule: <%= @course.schedule  %></h4>
		<!-- <h4>Timezone: <%#= @course.course_time_zone  %></h4> -->

		<div class="small-spacer"></div>
		<div class="polls-for-course">
			<h4>Polls for this course</h4>
			<% for poll in @polls.order(:id) do  %>
				<% if @user %>
					<h5><%= render partial: "polls/poll_preview", locals: {user: @user, poll: poll, course: @course}  %></h5>
				<% else  %>
					<% @user = User.find_by_id(poll.user_id) %>
					<h5><%= render partial: "polls/poll_preview", locals: {user: @user, poll: poll, course: @course}  %></h5>
				<% end %>
			<% end %>
			<div class="small-spacer"></div>
		</div>
<%= render partial: "shared/end_main_section"  %>
<%= render partial: "shared/start_sidebar"  %>
		<!-- show users involved with the course? -->
		<!-- whether current user is enrolled -->
		<!-- users preview partial -->
		<% if @current_user %>
			<div class="small-spacer"></div>
			<% if @user_affiliated %> <!-- user is already part of the course -->
				<%= render partial: "shared/start_new_poll", locals: {link_class: "btn btn-sidebar btn-primary"}  %>
				<br><br>
				<%= link_to "Leave course", leave_course_path(@course.id), method: :post, class: "btn btn-md btn-warning" %>
			<% else %> <!-- user is not part of the course -->
				<%= link_to "Join course", join_course_path(@course.id), method: :post, class: "btn btn-md btn-primary" %>
			<% end %>
			<%= link_to 'Edit course', edit_course_path(@course.id), class: "btn btn-md btn-info"  %>
		<% else %>
			<%= render partial: "shared/participate", locals: {link_class: "btn btn-primary btn-form"} %>
		<% end %>

<%= render partial: "shared/end_sidebar"  %>