<!-- index.html.erb -->

<!-- navbar in application.htm.rb -->

<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<div class="jumbotron">
			<div >
				
				<h1>Fist of Five</h1>
			</div>
			<!-- display flash messages -->
			<% flash.each do |k,v| %>
				<h2 id="<%= k %>"><%= v %></h2>
			<% end %>
			<div class="small-spacer"></div>
			<%= link_to "Log in", login_path, method: :get, class: "btn btn-danger btn-lg"  %>
			<%= link_to "Sign up", signup_path, method: :get, class: "btn btn-warning btn-lg"  %>
			<br>
			<%= link_to "Browse Courses and Poll Results", courses_path, method: :get, class: "btn btn-link btn-lg"  %>
			<div class="small-spacer"></div>

			<div class="list-group">
				<a href="https://github.com/lisavogtsf/fistOfFive/blob/master/README.md" class="list-group-item">
				<h4 class="btn-default">An app that allows a user to request and receive feedback by SMS and visualize the results.<br> Click to learn more.</h4></a>
			</div>
		</div><!-- closes jumbotron -->
		
	</div>
	
</div>