<!DOCTYPE html>
<html>
<head>
  <title>FistOf5 | <%= @page_title || "SMS Feedback"   %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

<!-- jquery via CDN-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- jquery local fallback, more for when not using rails -->
<script>window.jQuery || document.write('<script src="jquery-1.11.1.min"><\/script>')</script>

<!-- compiled and minified Bootstrap 3.2.0 JavaScript via CDN-->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- bootswatch-bootstrap theme via CDN-->
<link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/readable/bootstrap.min.css" rel="stylesheet">
<!-- respond.min.js is included in this app to provide bootstrap/media-query/html5 support for older versions of internet explorer, IE 6-8 -->

<!-- calls html5shiv to support older versions of internet explorer -->
<!--[if lt IE 9]>
<script src="html5shiv.js"></script>
<![endif]-->

</head>
<body>
	<div class="navbar-spacer"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div><!-- creates space on left -->
			<div class="col-sm-10 backdrop"> <!-- translucent backdrop center column -->
				<div class="row"> <!-- creates new 12-grid reckoning inside it on templates -->
					<%= yield %>
				</div><!-- closes row inside center column -->
<!-- for testing purposes, show params -->
<%#= params.inspect  %><br>

			</div> <!-- closes center column -->
			<div class="col-sm-1"></div><!-- creates space on right -->
		</div><!-- closes row -->
	</div><!-- closes container -->


</body>
</html>
