<!DOCTYPE html>
<html>
<head>
  <title>FistOf5</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <body ng-app="FoFApp"> -->
	<div class="container">
		<div class="row">
	<!-- <div ng-view></div> -->
	<%= yield %>
		</div><!-- closes row -->
	</div><!-- closes container -->
<!-- for testing purposes, show params -->
<%= params.inspect  %>

</body>
</html>
